@font-face {
  font-family: "Core Sans X";
  src: url("../fonts/CoreSansG-Bold.ttf");
  font-weight: bold; }

@font-face {
  font-family: "Core Sans X";
  src: url("../fonts/CoreSansG-Regular.ttf");
  font-weight: normal; }

@font-face {
  font-family: "Core Sans X";
  src: url("../fonts/CoreSansG-Light.ttf");
  font-weight: 300; }
