.header-content {
  color: #fff;
  padding-top: 10.9vw;
  width: 60vw;

  &__title {
    font-weight: normal;
    font-size: 4.6vw;
  }

  &__subtitle {
    font-size: 1.9vw;
    padding-top: 1vw;
    line-height: 2.2vw;
  }

  &__text {
    padding-top: 3.2vw;
    font-style: italic;
    line-height: 1.4vw;
    font-size: 1vw;
    font-weight: 300;
    padding-bottom: 2.5vw;
  }

  &__btn {
    width: 13.4vw;
    height: 3.6vw;
    font-size: 1vw;
    border-radius: 1.7vw;
    transition: background-color 0.3s;
    background-color: rgba(191, 191, 191, 0.11);

    &:hover {
      transition: background-color 0.3s;
      background-color: rgba(191, 191, 191, 0.31);
    }
  }
}