@media screen and (max-width: 768px) {
  .modal {

    &__wrapper {
      width: 100vw;
      height: 100%;
      max-height: initial;
    }

    &__container {
      width: 100%;
      min-height: 100%;
      padding: 0;
    }

    &__btn-close {
      top: 4vh;
      right: 4vw;
      height: 2vw;

      svg {
        width: 5vw;
        height: 5vw;
      }
    }

    &__title {
      padding: 3vh 10vw 3vh 4vw;
      background: #979797;
      color: #fff;
    }

    &__text {
      padding: 2vh 4vw;
    }

    &__input {
      padding: 0 4vw;


    }

  }
}